input[type="number"] {
width:50px; height:30px;
text-align:center;
margin:10px;
}

select{
margin:10px;
float:left;
width:60px;
}

body {
	background-color: #5A3639;
}

h1{
	color: #b48608; 
	font-family: 'Droid serif', serif; 
	font-size: 36px; 
	font-weight: 400; 
	font-style: italic; 
	line-height: 44px; 
	margin: 0 0 12px; 
	text-align: center; 
}

label {
	text-align:right;
	color: #b48608;
	clear:both;
	float:left;
	margin-right:15px;
}

.equals {
	margin:10px;
	float:left;
	width:10px;
}

output {
display:block;
border:1px solid #333333;
border-radius:5px;
min-width:25px; height:25px;
margin:auto; padding:2px;
text-align:center;
background:#000000;
color:#ffffff;
float:left; 
}